*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

/* nav menu */
nav{
  background-color: #f38c10;
  color: white;
  padding: 3px;
  text-align: center;
}

/* don't display menu */
.menu-icon{
  display: none;
}

/* menu styling */
.menu{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.menu a{
  text-decoration: none;
  color: white;
}


.container{
  display: flex;
  height: 60%;
  margin-top: 35px;
  margin-left: 55px;
}

.description{
  margin-left: 45px;
  margin-top: 30px;
  font-size: large;
}


/* Styling the footer */
footer {
  background-color: #FFD84B;
  padding: 5px;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
