*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

/* nav menu */
nav{
  background-color: #f38c10;
  color: white;
  padding: 3px;
  text-align: center;
}

/* don't display menu */
.menu-icon{
  display: none;
}

/* menu styling */
.menu{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.menu a{
  text-decoration: none;
  color: white;
}

.container1{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 10px;
}

.description1{
  margin-left: 30px;
  margin-top: 2px;
}

.item1{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item2{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item3{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.container2{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 10px;
}

.description2{
  margin-left: 30px;
  margin-top: 2px;
}

.item4{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item5{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item6{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}


.container3{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 10px;
}

.description3{
  margin-left: 30px;
  margin-top: 2px;
}

.item7{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item8{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item9{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.container4{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 10px;
}

.description4{
  margin-left: 30px;
  margin-top: 2px;
}

.item10{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item11{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

.item12{
  display: flex;
  height: 60%;
  margin-top: 20px;
  margin-left: 30px;
}

/* Styling the footer */
footer {
  background-color: #FFD84B;
  padding: 5px;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
