*{
    margin: 0%;
    padding: 0%;
}

/* nav menu */
nav{
  background-color: rgb(90, 88, 99);
  color: white;
  padding: 10px;
  text-align: center;
}

/* don't display menu */
.menu-icon{
  display: none;
}

/* menu styling */
.menu{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.menu a{
  text-decoration: none;
  color: white;
}

/* .flex-container{
    display: flex;
    height: 20%;
} */



/* Styling the footer */
footer {
    background-color: #A3A5A4;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }