*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

/* nav menu */
nav{
  background-color: #f38c10;
  color: white;
  padding: 3px;
  text-align: center;
}

/* don't display menu */
.menu-icon{
  display: none;
}

/* menu styling */
.menu{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.menu a{
  text-decoration: none;
  color: white;
}

.flex-container{
  display: flex;
  height: 20%;
}

/* max-width: 300px;
  max-height: min-content; */

#video{
  margin-top: 1px;
  margin-left: 5%;
  align-items: normal;
}

.text{
  font-size: medium;
  margin-top: 2%;
  margin-left: 9%;
}

/* #blogName{
  text-decoration-color: #f38c10;
} */

.morebutton{
  margin-left: 20%;
  font-size: medium;
  padding: 15px 32px;
  text-align: center;
  align-content: center;
  background-color: #f38c10;
  width: 40px;
  height: 15px;
  border-radius: 20px;
}


/* Styling the footer */
footer {
  background-color: #FFD84B;
  padding: 5px;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}