*{
  margin: 0%;
  padding: 0%;
}

/* nav menu */
nav{
background-color: #f38c10;
color: white;
padding: 10px;
text-align: center;
}

/* don't display menu */
.menu-icon{
display: none;
}

/* menu styling */
.menu{
list-style-type: none;
display: flex;
justify-content: space-around;
padding: 10px;
}

.menu a{
text-decoration: none;
color: white;
}





/* Styling the footer */
footer {
background-color: #FFD84B;
padding: 15px;
text-align: center;
color: white;
position: fixed;
bottom: 0;
width: 100%;
}
